.fondo {
    min-height: 100vh; 
    position: relative;
    background-image: url(/img/escuadra03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;  
        height: 100vh;
        width: 100%;
        background-color: $colorSecundario;
        opacity: 0.6;
        background-attachment: fixed;
        z-index: -1;
    }

    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: $main;
        height: 90vh;
        width: 100%;

        &__titulo{
            color: $colorNegro;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 3rem;
            backdrop-filter: blur(5px);
            border-radius: 2rem;

            &--2{
                color: $colorCuarto;
            }

            &--2:hover{
                animation-name: mover;
                animation-iteration-count: 2;
                animation-duration: .2s;
            }
        }
    }
}