.fondo {
    min-height: 100vh; 
    position: relative;
    background-image: url(../img/escuadra03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;  
        height: 100vh;
        width: 100%;
        background-color: $colorSecundario;
        opacity: 0.3;
        background-attachment: fixed;
        z-index: -1;
    }

    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: $main;
        height: 90vh;
        width: 100%;

        &__titulo{
            color: $colorNegro;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 3rem;
            backdrop-filter: blur(5px);
            border-radius: 5rem;

            &--2{
                color: $colorCuarto;
            }

            &--2:hover{
                animation-name: mover;
                animation-iteration-count: 2;
                animation-duration: .2s;
            }
        }
    }
}

.la5{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    width: 100%;
    background-color: $colorSecundario;

    &__contenedorIzq{

        display: flex;
        flex-direction: column;
        width: 50%;
        padding-left: 1rem;

        &--title{
            color: $colorGris;
            font-size: $h1;
            font-weight: bolder;
            text-align: center;
        }
    
        &--inf{
            color: $colorNegro;
            font-size: $texto;
            font-weight: bold;
            line-height: 2rem;
            word-spacing: 1rem;
            text-align: center;
            
            p{
                font-family: 'Klee One', cursive;
            }
        }
    }

    &__contenedorDer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        padding-right: 1rem;

        &--img{
            width: 400px;         
        }
    }

    
}