/*colores*/
$colorPrincipal: #331940;
$colorSecundario:#5e366a;
$colorTercero: #0cca98;
$colorCuarto: #00ffcc;
$colorTexto: #212121;
$colorTexto2: #757575;
$colorNegro: #000000;
$colorGris: #BDBDBD;

/*fontSize*/
$main:7rem;
$h1: 3rem;
$h2: 2rem;
$texto: 1.4rem;


/*keyframes*/

@keyframes mover {
    0%{
      transform: rotate(0deg)
    }
    
    25%{
      transform: rotate(10deg)
    }
    
    50%{
      transform: rotate(0deg)
    }
    
    75%{
      transform: rotate(-10deg)
    }
    
    100%{
      transform: rotate(0deg)
    }
  }



