/*colores*/
$colorPrincipal: #331940;
$colorSecundario:#5e366a;
$colorTercero: #0cca98;
$colorCuarto: #00ffcc;
$colorTexto: #212121;
$colorTexto2: #757575;
$colorNegro: #000000;
$colorGris: #BDBDBD;

/*fontSize*/
$main:7rem;
$h1: 3rem;
$h2: 2rem;
$texto: 1.4rem;



