@import "./partials/variables";
@import "./partials/index";
@import "./partials/galeria";
@import "./partials/about";
@import "./partials/eama";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Rampart One', cursive;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: rgba($color: $colorGris, $alpha: 0.1);

    &__logo{
        font-size: $h1;
        padding-left: 2rem;

        a{
            color: $colorPrincipal;
        }

        a:hover{
            color: $colorCuarto;
        }
    }

    &__nav{
        display: flex;

        &--ul{
            display: flex;
            font-size: $h2;

            a{
                text-align: center;
                font-weight: bolder;
                color: $colorPrincipal;
                padding: 0 3rem 0 3rem;
                border-left: 1px solid $colorSecundario;
            }

            a:hover{
                color: $colorCuarto;
                font-weight: 200;
            }
        }
    }
}