/*colores*/
/*fontSize*/
/*keyframes*/
@-webkit-keyframes mover {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes mover {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.fondo {
  min-height: 100vh;
  position: relative;
  background-image: url(../img/escuadra03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.fondo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #5e366a;
  opacity: 0.3;
  background-attachment: fixed;
  z-index: -1;
}

.fondo .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 7rem;
  height: 90vh;
  width: 100%;
}

.fondo .main__titulo {
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 5rem;
}

.fondo .main__titulo--2 {
  color: #00ffcc;
}

.fondo .main__titulo--2:hover {
  -webkit-animation-name: mover;
          animation-name: mover;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
}

.la5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
  width: 100%;
  background-color: #5e366a;
}

.la5__contenedorIzq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding-left: 1rem;
}

.la5__contenedorIzq--title {
  color: #BDBDBD;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}

.la5__contenedorIzq--inf {
  color: #000000;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  word-spacing: 1rem;
  text-align: center;
}

.la5__contenedorIzq--inf p {
  font-family: 'Klee One', cursive;
}

.la5__contenedorDer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding-right: 1rem;
}

.la5__contenedorDer--img {
  width: 400px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Rampart One', cursive;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  width: 100%;
  background-color: rgba(189, 189, 189, 0.3);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  font-size: 3rem;
  padding-left: 2rem;
}

.header__logo a {
  color: #331940;
}

.header__logo a:hover {
  color: #00ffcc;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav--ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
}

.header__nav--ul a {
  text-align: center;
  font-weight: bolder;
  color: #331940;
  padding: 0 3rem 0 3rem;
  border-left: 1px solid #5e366a;
}

.header__nav--ul a:hover {
  color: #00ffcc;
  font-weight: 200;
}
/*# sourceMappingURL=main.css.map */